* {
  margin: 0;
  box-sizing: border-box;
}

.img-section {
  position: relative;
}
.img-content {
  position: absolute;
  width: 50%;
  color: #fff;
  top: 30%;
  padding-left: 50px;
}
.img-content_title {
  font-size: 80px;
}
.img-content_subtitle {
  font-size: 20px;
}
.main-section{
    
}
